@*
    ViewData:
    - Title is just the title of the page
    - UserId is the username or Id of the user
    - ViewUser is used to select which profile is being viewed
    
    // TODO: change this to use ViewContext instead of passing session state as view data
*@

@{
    // If the viewer is viewing their other profile, the title is "{Username} - Profile", else they're viewing themselves then title is "Dashboard"
    if (!(ViewData["UserId"] as string).Equals(ViewData["ViewUser"] as string))
        ViewData["Title"] = $"{ViewData["ViewUser"]} - Profile";
    else
        ViewData["Title"] = "Dashboard";
    
    var user = new User(1, ViewData["ViewUser"] as string);
}

@*TODO: display user dashboard page*@

<nav class="navbar navbar-light" id="navBar">
    <div class="container-fluid">
        <div class="navbar-collapse collapse d-inline-flex justify-content-around" id="navbarNav">
            <a class="navbar-brand" href="#" id="flomentoTitle">Flomento</a>
            <ul class="navbar-nav list-group-horizontal">
                <li class="nav-item">
                    <a class="nav-link navBarLinks" asp-controller="Home" asp-action="ToDashboard">Dashboard</a>
                </li>
                <li class="nav-item offset-1">
                    <a class="nav-link navBarLinks" asp-controller="Home" asp-action="LogOut">LogOut</a>
                </li>
            </ul>
        </div>
    </div>
</nav>    

@* @if (user.UserId.Equals(ViewData["UserId"] as string)) // if user is viewing themselves *@
@* { *@
@*     // allow them to logout *@
@*     <a asp-controller="Home" asp-action="LogOut">Log Out</a> *@
@* } *@
@* else *@
@* { *@
@*     // allow them to return to their dashboard *@
@*     <a asp-controller="Home" asp-action="ToDashboard">Return to Dashboard</a> *@
@* } *@

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-5">
            <img src="~/lib/Images/Flomento.png" class="img-thumbnail" id="profilePic" alt="" width="150px" height="150px"/>
            @* <div id="profileInfo"> *@
                <h1 class="offset-4">@user.Name</h1>
                <p class="offset-4">@user.Desc</p>
            @* </div> *@
        </div>
        <div class="col-2">&nbsp;</div>
        <div class="col-5 d-grid gap-2">
            <button type="button" class="btn" id="editButton">Edit Profile</button>
        </div>
    </div>
    

    <div class="row py-3">
        <div class="col-5 bg-light dash" style="border-radius: 0.5rem;">

            <p class="h1 text-center text-primary">
                <i class="fas fa-check-square me-1"></i>
                <u>Goals</u>
            </p>
            <div class="pb-1">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row align-items-center">
                            <textarea type="text" class="form-control form-control-md" id="exampleFormControlInput1"
                                      placeholder="Add new..."></textarea>
                            <a href="#!" data-mdb-toggle="tooltip" title="Set due date">
                                <i class="fas fa-calendar-alt fa-lg me-3"></i>
                            </a>
                            <div>
                                <button type="button" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-4">

            <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
                <p class="small mb-0 me-2 text-muted">Filter</p>
                <select class="select">
                    <option value="1">All</option>
                    <option value="2">Completed</option>
                    <option value="3">Active</option>
                    <option value="4">Has due date</option>
                </select>
                <p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
                <select class="select">
                    <option value="1">Added date</option>
                    <option value="2">Due date</option>
                </select>
                <a href="#!" style="color: #23af89;" data-mdb-toggle="tooltip" title="Ascending">
                    <i class="fas fa-sort-amount-down-alt ms-2"></i>
                </a>
            </div>

            <ul id="goalListId">
                @foreach (var goal in user.ListGoals()) // iterate through ViewUser's goal list
                {
                    // TODO: fix id and names for items so they can be functional, also add them to task list
                    <li>
                        <input type="checkbox" id="goalcheck"/>
                        <label for="goalcheck">@goal</label>
                    </li>
                }
            </ul>
        </div>
         
        <div class="col-2">&nbsp;</div>
        <div class="col-5 card" style="border-radius: 0.5rem;">
            <div class="card-header" id="mentor">Mentor</div>
            <div class="card-body">
                <ul class="card-text">
                    <li>Peer</li>
                    <li>Peer</li>
                    <li>Peer</li>
                </ul>
            </div>
        </div>
    </div>



    <div class="row py-1">
        <div class="col-5 bg-light dash" style="border-radius: 0.5rem;">
            <p class="h1 text-center text-primary">
                <i class="fas fa-check-square me-1"></i>
                <u>Tasks</u>
            </p>
            <div class="pb-1">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row align-items-center">
                            <textarea type="text" class="form-control form-control-md" id="exampleFormControlInput1"
                                      placeholder="Add new..."></textarea>
                            <a href="#!" data-mdb-toggle="tooltip" title="Set due date">
                                <i class="fas fa-calendar-alt fa-lg me-3"></i>
                            </a>
                            <div>
                                <button type="button" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr class="my-4">

            <div class="d-flex justify-content-end align-items-center mb-4 pt-2 pb-3">
                <p class="small mb-0 me-2 text-muted">Filter</p>
                <select class="select">
                    <option value="1">All</option>
                    <option value="2">Completed</option>
                    <option value="3">Active</option>
                    <option value="4">Has due date</option>
                </select>
                <p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
                <select class="select">
                    <option value="1">Added date</option>
                    <option value="2">Due date</option>
                </select>
                <a href="#!" style="color: #23af89;" data-mdb-toggle="tooltip" title="Ascending">
                    <i class="fas fa-sort-amount-down-alt ms-2"></i>
                </a>
            </div>

            <ul id="taskListId">
                @foreach (var task in user.ListTasks()) // iterate through ViewUser's task list
                {
                    <li>
                        <input type="checkbox" id="taskcheck" />
                        <label for="taskcheck">@task</label>
                    </li>


                    
                    // load each incomplete one as a list item
                }
            </ul>
        </div>

    </div>
</div>


@* @if (user.IsNew()) // This is just a test to load different parts based on if the user is new or not *@
@* { *@
@*     <p>This user is new.</p> *@
@* } *@
@* else *@
@* { *@
@*     <p>This user is peer.</p> *@
@* } *@

@* @if (user.HasMentor()) // if mentor property of user is not null *@
@* { *@
@*     // display a link to the mentor's profile *@
@*     <a asp-controller="Home" asp-action="SelectUser" asp-route-username="@user.GetMentorId()">@user.GetMentorName()</a> *@
@* } *@

@* @if (user.UserId.Equals(ViewData["UserId"] as string)) // if user is on own profile *@
@* { *@
@*     // allow them to post a goal *@
@*     <textarea placeholder="create a new goal"></textarea> *@
@* } *@

