@using MentorApp440.Helpers
@using MentorApp440.Session
@* This is probably best done with a view model, but I'm not sure... *@

@{
    Layout = "_Layout";

    var task = SqlConnection.GetTask((int)ViewData["MemId"], (int)ViewData["TaskId"]);
    
    ViewData["Title"] = task.TaskStr;
    
    var currUser = ViewContext.HttpContext.Session.Get<string>(SessionVariables._Username);
    var loggedIn = !string.IsNullOrWhiteSpace(currUser);
}

@* TODO: style this page *@

<nav class="navbar  sticky-top navbar-light" id="navBar">
    <div class="container">
        @* removed link on Flomento because it is pointless at the moment - charley*@
        <a class="navbar-brand" @*href="#"*@ id="flomentoTitle">Flomento</a>
        <ul class="navbar-nav list-group-horizontal">
            @if (loggedIn)
            {
                <li class="nav-item offset-1">
                    <a class="nav-link navBarLinks" asp-controller="Home" asp-action="LogOut" style="color: white;">LogOut</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navBarLinks" asp-controller="Home" asp-action="ToDashboard" style="color: white;">Dashboard</a>
                </li>
            }
            else
            {
                <li class="nav-item">
                    <a class="nav-link navBarLinks" asp-controller="Home" asp-action="Index" style="color: white;">Log in</a>
                </li>
            }
        </ul>
    </div>
</nav>

@* the task itself *@
<h2>@task.TaskStr</h2>

@* the listing of comments *@
<ul>
    @foreach (var comment in SqlConnection.LoadTaskComments(task.MemId, task.TaskId))
    {
        <li id="@comment.FromMemberUsername">
            <h6>@comment.FromMemberName</h6>
            <p>@comment.Comment</p>
        </li>
    }
</ul>

@* the prompt to post a comment *@
<form asp-controller="Feedback" asp-action="Task" asp-route-memId="@task.MemId" asp-route-taskId="@task.TaskId">
    <textarea type="text" name="comm" required="required"></textarea>
    <button type="submit">Comment</button>
</form>